<template>

  <div id="app">

    <router-view transition="expand"></router-view>

  </div>

</template>

<script lang="babel">

  export default {

    ready() {

    }

  };


</script>

<style lang="scss">

  header {
    position: relative;
    width: 50%;
    height: 150px;
    margin: auto;
    display: flex;
  	justify-content: center;
    flex-direction: column;

    li {
      font-size: 0.9em;
    }
  }

</style>
