<template>

  <div id="loading" class="section">

    <h1>Loading...</h1>

  </div>

</template>

<script lang="babel">

  export default {
    ready() {

    }

  };


</script>

<style lang="scss">


</style>
