<template>

  <nav>
    <ul>
      <li>
        <a href="#">
          HOME
        </a>
      </li>
      <li>
        <a href="#">
          VIDEOS
        </a>
      </li>
      <li>
        <a href="#">
          DRAWINGS
        </a>
      </li>
      <li>
        <a href="#">
          PUBLICATIONS
        </a>
      </li>
      <li>
        <a href="#">
          BIO
        </a>
      </li>
      <li>
        <a href="#">
          CONTACT
        </a>
      </li>
    </ul>
  </nav>

</template>
