.page {
  position: relative;
  height: 100%;
  width: 100%;
}

.section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .section-inner {
    position: relative;
    width: 25%;

    &.section-middle {
      width: 50%;
    }

    &.section-75 {
      width: 75%;
    }
  }

  &.reset {
    display: inline-block;
  }
}

#slider {

  position: relative;
  width: 100%;
  height: 600px;

  #slider-container {
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .slider-item {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      opacity: 0;
      display: none;
      z-index: 7;

      &.slider-on-top {
        opacity: 1;
        display: block;
      }
    }

    #mask {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      background: rgba(255, 255, 255, 1);
      z-index: 9;
      opacity: 0;
      transition: opacity 0.7s;

      &.appear {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }


}
