@import "mixins";
@import "fonts";
@import "sections";

$mainColor: black;
$titleColor: rgb(130, 130, 130);
$subtitleColor: rgb(201, 201, 201);

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic';
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
	display: inline-block;
}

.hide {
	display: none;
}

.hidden {
	opacity: 0;
}

h2 {
	color: $titleColor;
}
