<template>

  <div id="home" class="page">

    <navigation v-if="$route.path != '/'"></navigation>

    <landing v-if="$route.path == '/'"></landing>

    <router-view></router-view>

  </div>

</template>

<script lang="babel">

  import Navigation from './Navigation.vue';
  import Landing from './Landing.vue';

  export default {

    components: {
      'navigation': Navigation,
      'landing': Landing
    },

    ready() {

    }

  };


</script>

<style lang="scss">


</style>
