<template>

  <div id="landing" class="section">

    <h1>THIS IS THE LANDING PAGE</h1>

    <a v-link="{ name: 'projects'}" >ENTER</a>

  </div>

</template>

<script lang="babel">

  export default {

    ready() {

    }

  };


</script>

<style lang="scss">

  #landing {
    flex-direction: column;
  }

</style>
