<template>

  <div id="admin-home" class="page">

    <navigation></navigation>

    <landing v-if="$route.path == '/admin'">{{$route.path}}</landing>

    <router-view></router-view>

  </div>

</template>

<script lang="babel">

  import Navigation from './Navigation.vue';
  import Landing from './Landing.vue';
  import Auth from '../../controllers/Auth';

  export default {

    data: function() {

    },

    components: {
      'navigation': Navigation,
      'landing': Landing
    },

    ready() {
      Auth.checkAuth();
    }

  };


</script>

<style lang="scss">


</style>
