<template>

  <div id="projects" class="section">

    <h1>WELCOME TO THE ADMINISTRATION!</h1>

  </div>

</template>

<script lang="babel">

  export default {

    ready() {

    }

  };


</script>

<style lang="scss">


</style>
