<template>

  <nav>
    <ul>
      <li>
        <a v-link="{ name: 'admin-projects'}" >Projects</a>
      </li>
      <li>
        <a v-link="{ name: 'home'}" >Visit website</a>
      </li>
      <li>
        <li>
          <a v-link="{ name: 'admin'}" v-if="user.authenticated" @click="logout()">
            Logout
          </a>
        </li>
      </li>
    </ul>
  </nav>

</template>

<script lang="babel">

  import Auth from '../../controllers/Auth';

  export default {

    data() {
      return {
        user: Auth.user
      }
    },
    methods: {

      logout() {
        Auth.logout();
        location.reload();
      }

    }

  };

</script>

<style lang="scss" scoped>

  nav {
    position: absolute;
    z-index: 9;
  }

</style>
