<template>

  <div id="login" class="section">

      <h3>Login</h3>

      <form v-on:submit.prevent="submit()">
        <input
          type="text"
          placeholder="Enter your email"
          v-model="credentials.username"/>
        <input
          type="password"
          placeholder="Enter your password"
          v-model="credentials.password"/>

        <button type="submit">CONNECT</button>
      </form>

      <div class="alert alert-danger" v-if="error">
        <p>{{ error }}</p>
      </div>

  </div>

</template>

<script lang="babel">

  import Auth from '../../controllers/Auth';

  export default {

    data() {
      return {
        // We need to initialize the component with any
        // properties that will be used in it
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },

    methods: {
      submit(e) {

        var credentials = {
          username: this.credentials.username,
          password: this.credentials.password
        }

        Auth.login(this, credentials);
        Auth.Router.go({ path: 'admin' });
      }
    },

    ready() {



    }

  };


</script>

<style lang="scss" scoped>

  #login {
    flex-direction: column;

    form {
      text-align: center;

      input {
        display: block;

        &:active, &:focus {
          outline: none;
        }
      }

      button {
        background: transparent;
        border: 1px solid;
      }
    }
  }

</style>
